*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: "montserrat";
}
nav{
    background-color: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul {
    float: right;
    margin: 0 20px 0 0;
}
nav ul li{
    display: inline-block; /*making the list horizontally lined */
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background-color: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;/*hide hamburger menu */
}
#check{
    display: none;/*hide the checkbox */
}
@media(max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left:50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width:858px){
    .checkbtn{
        display: block; /*displays the hamburger menu if the screen size is small */
    }
    ul{ 
        position: fixed; 
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        top: 80px; /*below the 80px size navbar not covering navbar */
        left: -100%; /*making the list hidden */
        text-align: center;
        transition: all .5s; /*making it smooth */

    }
    nav ul li{
        display: block;
         margin: 50px 0; /*this part i dont get */
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    /*a.active,a:hover{ /*i think this style is not needed
        background: none;
        color: #0082e6;
    }*/
    a.active, a:hover{
        background-color:#0082e6 ;
    }
    #check:checked~ul{
         left: 0; /*if the hamburger menu is click the list will show */
    }
    
}
section{
    background: url(imgs/office2.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}